svg:not(:root) {
  overflow: visible;
}

.c>input[type="text"] {
  padding: 3px !important;
}
.dg li:not(.folder) {
  background: transparent !important;
}

.dg.main .close-button:hover {
  background-color: transparent !important;
}

.dg.main .close-button {
  background-color: #3A4858 !important;
}

.hue-field {
  position: absolute !important;
}

#my-gui-container {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 1000;
}

#controllerModal {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 1000;
}

/* The Modal (background) */
.cmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.controllerModalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.controllerModalClose {
    color: #aaa  !important;
    float: right  !important;
    font-size: 28px  !important;
    font-weight: bold  !important;
    margin-bottom: 10px  !important;
}

.controllerModalClose:hover,
.controllerModalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer  !important;
}